<!DOCTYPE html>
<html lang="en">

<head>
    <!-- -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Provo Parking Login</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/main.css" rel="stylesheet" />
    <link href="css/login.css" rel="stylesheet" />
    <script type="text/javascript" src="js/login.js"></script>
    <link rel="icon" type="image/x-icon" href="../assets/favicon.png">
</head>

<body style="background-color: #FFFFFF">
    <!-- Responsive navbar-->
    <div class="center">
        <a href="/login">
            <img src="/assets/unauth.jpg" alt="unauth" width="600" text-align="center">
        </a>
    </div>
    <footer class="py-3" style="background-color: #00a0e089">
        <div class="container px-4 px-lg-5">
            <p class="m-0 text-center text-white">&thinsp; &thinsp; &thinsp; &thinsp; &thinsp;Provo Parking 2024&thinsp; &thinsp; &thinsp; &thinsp; &thinsp;</p>
        </div>
    </footer>
</body>

</html>